*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul{
	list-style: none;
}
body{
	font-family:  "Fredoka One", cursive;
}
/*header*/
.topbar{
	background-color: #e85205;
	color: #000;
	font-style: normal;
	font-size: 15px;
	line-height: 16px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 600;
}
/*search*/
.search_bar{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.search_bar span{
	background-color: aliceblue;
	padding: 5px;
	border-radius: 50px;
}
.search{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	max-width: 100%;
	cursor: pointer;
	position: relative;

}

.search_bar i{
	padding: 5px;
}
.text{
	display: none;
	top: 53px;
	left: -39px;
	background-color: transparent;
	border:1px solid #000;
	border-radius: 50px;
	outline: none;
	position: absolute;
	z-index: 2;
	padding: 5px;
}

/*menu*/
.menu_area > ul{
	color: black;
	display: flex;
	justify-content: space-between;
}
.menu_area > ul>li{
	position: relative;
	cursor: pointer;
}
.dropdown{
	position: absolute;
	top: 100%;
	padding: 20px 0;
	z-index: 1;
}
.dropdown li{
	background: #FFFFFF;
	display: none;
}
.dropdown li:hover{
	background:#e85205;
	color: #FFFFFF; 
	
}
.menu_area li:hover > .dropdown li{
	display: block;
	width: 200px;
	height: 50px;
	padding: 10px;
}

.menu_area li:hover > .dropdown li{
	transform-origin: top center;
	opacity: 0;
}
.menu_area li:hover > .dropdown li:nth-child(1){
	animation: animate 300ms ease-in-out forwards;
	animation-delay: -150ms;
}
.menu_area li:hover > .dropdown li:nth-child(2){
	animation: animate 300ms ease-in-out forwards;
	animation-delay: 0ms;
}
.menu_area li:hover > .dropdown li:nth-child(3){
	animation: animate 300ms ease-in-out forwards;
	animation-delay: 150ms;
}
@keyframes animate{
	0%{
		opacity: 0;
		transform: rotateX(-90deg);
	}
	50%{
		transform: rotateX(20deg);
	}
	100%{
		opacity: 1;
		transform: rotateX(0deg);
	}
}
.header{
	background-color: #fcfcfc;
}
.header img{
	width: 100%;
	height: 100%;
	
}
.menu li{
	display: inline-block;
	padding-top: 10px;
}
.btn{
	background-color: #fcfcfc;
	color: #000;
	border: none;

}
.bar{
		display: inline-block;
}
.close{
		display: none;
		color: #FF0000;
}
.close i{
		padding-left: 16px;
}
.r2_right{
	padding: 10px;
}
.r2_right i{
	padding: 10px;
}
.bag{
		position: relative;
}
.dot01{
	padding-top: 1px;
	position: absolute;
	top: -5px;
	right: -12px;
	width: 17px;
	height: 17px;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	background-color: #ed7989;
	font-size: 10px;
	font-weight: 100;
	color: #ffffff;
}

.menu_responsive{
		position: absolute;
		top: 252px;
		left: 0;
		z-index: 7;
		text-align: left;
		background-color: rgba(0,0,0,0.8) !important;
		display: block;
		width: 100%;
		display: none;
}
.menu_responsive ul li{
		padding: 20px 10px;
		display: block;
		border-bottom: 1px solid #ccc;
}
.menu_responsive ul li:hover{
		background-color: #ccc;
	
}
.menu_responsive ul li:hover a{
		color: #000000;
}
.menu_responsive ul li a{
		display: block;
		color: #ffffff;
}
.menu_responsive ul{
		padding: 20px 0 0px 0;
		margin-bottom: 0;
} 
@media screen and (min-width: 320px) and (max-width: 767px){
	.header img{
		width: 0;
	}
	.menu_responsive{
		top: 95px;
	}
	.frm{
		right: 
	}
}	
/*footer*/
#row12 h6{
	font-weight: 900;
	padding: 40px 0 30px 0;
}
#row12 li{
	padding: 5px 0;
}
#row12 li a{
	color:#000;
}
#row12 li:hover a{
	color:  #e85205;
}
#row12 i{
	font-size: 12px;
	padding-right: 20px;
}
#footer{
	background-color: #212121;
	padding: 20px 0 0px;
	color: #ffffff;
}
#footer span{
	color: #f379a7;
}
#row12 i:hover{
	color: #e85205;
}
.plus{
		display: inline-block;
}
.minus{
		display: none;
}
/*frm*/
.frm-box{
	padding-top: 20px;
}
.content_basic {
	display: flex;
	padding-bottom: 50px;
}
.content_basic img{
	max-width: 100%;
	border-style: none;
}
.btn-basic button{
	padding: 5px;
	background: #e85205;
	color: #000;
	border: none;
	border-radius: 20px;
}
.btn-basic button:hover{
	font-weight: 600;
	color: #FFFFFF;
}
/*frm*/
.frm{
	width: 315px;
	font-weight:100;
	padding: 10px;
}
.frm .form-group input{
	margin-bottom: 10px;
	padding: 3px;
	outline: none;
}
.frm button{
	background-color: #ffffff;
	font-weight: 600;
	border-radius: 10px;
	margin-bottom: 10px;

}
.frm .btn:hover {
	background-color: #e85205;
	color: #FFFFFF;

}
.acc{
	position: relative;
}
.frm{
	position: absolute;
	z-index: 1;
	right: 0;
	top: 38px;
	background: aliceblue;
	border-radius: 20px;
}
.frm{
	display: none;
}
/*main*/
.menu_home ol > li a{
	color: #000;
}
.mainpicture{
	width: 100%;
}
.colors{
	display: flex;
	justify-content:center;

}
.colors img{
	width: 15%;
	padding: 10px;
	border-radius: 15px;
}
.show_text{
	padding-top:20px;
}
.show_text .title{
	margin-bottom:30px;
	border-bottom: 1px solid #000;
}
.show_text .money {
	margin-top:30px;
	color: #e85205;
	border-bottom: 1px solid #000;
	font-weight: 600;
}
.show_text .size {
	margin-top:30px;
	display: flex;
}
.show_text .size button{
	margin-right: 15px;
}
.show_text .size  button{
	padding: 10px;
	border: 1px solid #e5e5e5;
	background-color: #FFFFFF;
	border-radius: 10px;
}
.show_text .size button:hover{
	background-color: #e85205;
	color: #FFFFFF;
	font-weight: 600;
}
.buttons{
	margin-top: 30px;
	padding: 4px 15px;
	font-size: 20px;
	border: 1px solid #e5e5e5;
	background-color: #e5e5e5;
	border-radius: 5px;
}
.number{
	padding:0 25px;
}
.show_text .add_sp{
	margin-top:30px;
	background-color: #FFFFFF;
}
.show_text .add_sp button{
	padding: 10px;
	background-color: #e85205;
	border: 1px solid #e5e5e5;
	color: #FFFFFF;
	font-weight: 600;
	border-radius: 10px;
}
.show_text .add_sp button:hover{
	background-color: #FFFFFF;
	color: red;
	font-weight: 600;
	border: 1px solid red;
}
.show_dsc_mt h4{
	margin: 70px 0;
}
.show_dsc h5{
	margin: 20px 0;
}
.show_dsc span{
	font-weight: 600;
	font-size: 12px;
}
.slide{
	display: none;
}
.active_slide{
	display: block;
}
.active_dot{
	border: 1px solid red;
}
#active_size{
	background-color: red;
}
.item{
	border: 1px solid #000;
	border-radius: 10px;
	margin-top:80px;
	text-align: center;

}
.item img{
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
}
.item img{
	max-width: 100%;
}
.text_sp p{
	color: #000;
	text-align: center;
	font-weight: 600;
}
.text_sp .sp{
	color: #000;
	text-align: center;
	font-weight: 600;
	margin-top: 6px;
}
.text_sp p:hover{
	color: #e85205;
}
.row2{
	margin: 50px 0;
}
.sptt{
	margin-bottom: 20px;
}
.center{
	margin-top: 30px;
}
.input-number{
	max-width: 20%;
	text-align: center;
	
}
.glyphicon-minus{
	padding: 8px 15px;
	border: 1px solid #e5e5e5;
	border-radius: 10px;
}
.glyphicon-plus{
	padding: 8px 15px;
	border: 1px solid #e5e5e5;
	border-radius: 10px;
}
.row5{
    position: relative;
    background-color: #000;
    border-radius: 24px;
    color: #fff;
    font-size: 25px;
    height: 50px;
    margin: 80px 0;

}
.row5 button{
	position: absolute;
	right: 0;
	top: 0;
	padding: 6.5px;
	border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
	border: none;
	background: #e85205;
}
.row5 a :hover{
	color: #FFFFFF;
}
.card a{
	color: #000;
	text-decoration: none;
}